* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color1:hsl(31, 77%, 52%);
    --primary-color2: hsl(184, 100%, 22%);
    --primary-color3:hsl(179, 100%, 13%);
    --natural-color1:hsla(0, 0%, 100%, 0.75);
    --natural-color2:hsl(0, 0%, 95%);
}
@media (min-width:320px)and(max-width:375px){
    .container{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
}
.container{
    background-color: antiquewhite;
    display: flex;
    
}
.click{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    background-color: var(--natural-color2);
    width:50%;
    height:50px;
    border-radius:40px;
    border: 2px solid var(--natural-color2);
    margin-top:40px;
    margin-left: 40px;

}
.c-1 {
 color:var(--primary-color1)
}
.c-1:hover{
    background-color: var(--primary-color1);
    color:var(--natural-color2);
    cursor: pointer;
}
.c-2 {
 color:var(--primary-color2)
}
.c-2:hover{
    background-color: var(--primary-color2);
    color:var(--natural-color2);
    cursor: pointer;
}
.c-3 {
 color:var(--primary-color3)
}
.c-3:hover{
    background-color: var(--primary-color3);
    color:var(--natural-color2);
    cursor: pointer;
}
.car-type{
 color:var(--natural-color2);
 font-size: 40px;
 font-family: "Big Shoulders Display", sans-serif;
 font-weight: 400;
 display: flex;
 justify-content: flex-start;
 padding-top: 50px;
 padding-left:40px;
 text-transform: uppercase;

}
.desc,.desc-{
 color:var(--natural-color1);
 font-size: 15px;
 padding-top:50px;
 padding-left:40px;
 font-family: "Lexend Deca", sans-serif;
 font-weight: 400;

}
.desc-{
    padding-top:47px;
    padding-left:40px
}
img {
    padding-top: 50px;
    padding-left:40px;
}
.car-1,.car-2,.car-3{
    width:40%;
    height:500px;
}
.car-1{
    background-color:var(--primary-color1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top:20px;
    margin-left: 20px;
}
.car-2{
    background-color:var(--primary-color2);
    margin-top:20px;
}
.car-3{
    background-color:var(--primary-color3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top:20px;
    margin-right: 20px;
}

@media (max-width:1440px) {
   
}

